[submodule "ux-charts"]
	path = ux-charts
	url = git@github.com:angular-rust/ux-charts.git
[submodule "ux-charts-wasm-template"]
	path = ux-charts-wasm-template
	url = git@github.com:pr0n1x/ux-charts-wasm-template.git
